@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

<!-- About Start -->
<section id="section3">
    <div class="container-fluid about bg-light py-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="about-img pb-5 ps-5">
                        <img src="img/taxi/taxi-14.jpg" class="img-fluid rounded w-100" style="object-fit: cover;" alt="Image">
                        @*<div class="about-img-inner">
                            <img src="img/taxi/taxi-14.jpg" class="img-fluid rounded-circle w-100 h-100" alt="Image">
                        </div>*@
                        <div class="about-experience text-secondary">@_localizer["Experience"]</div>
                    </div>
                </div>
                <div class="col-lg-7 wow fadeInRight" data-wow-delay="0.4s">
                    <div class="section-title text-start mb-5">
                        <h4 class="sub-title pe-3 mb-0">@_localizer["About"]</h4>
                        <h1 class="display-3 mb-4">@_localizer["Title"]</h1>
                        <p class="mb-4">@_localizer["Description"]</p>
                        <div class="mb-4">
                            <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i> @_localizer["Reliability"].</p>
                            <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i>  @_localizer["Prices"].</p>
                            <p class="text-secondary"><i class="fa fa-check text-primary me-2"></i>@_localizer["Payment"].</p>
                        </div>
                       @* <a href="#" class="btn btn-primary rounded-pill text-white py-3 px-5">Discover More</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>